@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 84% 15%;

    --card: 0 0% 100%;
    --card-foreground: 222 84% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 15%;

    --primary: 228 73% 42%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 94% 63%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222 84% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 228 73% 42%;

    --radius: 0.5rem;

    --chart-1: 220 94% 63%;
    --chart-2: 228 73% 42%;
    --chart-3: 222 84% 15%;
    --chart-4: 215.4 16.3% 46.9%;
    --chart-5: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
